@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 92%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header { background-color: #414c52;}

nav { display: flex;}

.logo { padding-right:  7%;}

.navigation {
  width: 55%;
  padding: 40px 0;
}

.nav-item { margin-right: 5%;}

.nav-item a {
  position: relative;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-item:hover a::before {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #bc542e;
  font-family: 'FontAwesome';
  font-size: 16px;
  font-weight: 900;
  content: '\f0d7';
}
.nav-active a { color: #bc542e;}

.icons {
  width: 30%;
  padding: 40px 0;
}

.icon {
  text-indent: -9999px;
}

.twitter::before{
  font-family: 'FontAwesome';
  font-size: 20px;
  font-weight: 900;
  text-indent: 1px;
  content: '\f081';
}







/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*carousel start */
.carousel { position: relative;}

.carousel-info {
  width: 60%;
  padding: 21px 0;
  position: absolute;
  left: 20%;
  bottom:0;
  background-color: #bc542e;
}

.carousel-title {
  width: 60%;
  padding: 0 20%;
  position:relative;
  text-transform: uppercase;
  text-align: center;
}

.control {
  border: none;
  position: absolute;
  background-color: transparent;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
}

.previous { 
  top: 20%;
  left: 5%;
}

.next { 
  top: 20%;
  right: 5%;
}
.title {
  color: #fff;
  font-size: 32px;
  font-weight: 900;
}

/*carousel end */

/*focus start */

.focus { padding: 90px 0 83px 0;}

.focus-title { 
  color: #404f59;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.goals {
  padding-top: 50px ;
  display: flex;
}

.goal {
  width: 21%;
  padding-right: 10%;
  text-align: center;
}

.goal:nth-last-child(1) { padding-right: 0;}

.goal-title {
  width: 60%;
  padding: 0 20%;
  color: #404f59;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}





/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  