@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 92%; 
  margin: 0 auto;
}

.btn {
  padding: 15px 5%;
  font-size: 16px;
  text-align: center;
}
/*=================================
  Header styling starts here
=================================*/

header { background-color: #414c52;}

nav { display: flex;}

.logo { padding-right:  7%;}

.navigation {
  width: 60%;
  padding: 50px 0;
  display: flex;
}

.icons { 
  display: flex;
  justify-content: right;
}

.nav-item { margin-right: 5%;}

.nav-item a {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.nav-item:hover a::before {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #bc542e;
  font-family: 'FontAwesome';
  font-size: 16px;
  font-weight: 900;
  content: '\f0d7';
}
.nav-active a { color: #bc542e;}

.menu {
  display: none;
  border: none;
  background-color: transparent;
  color: #fff;
  font-family: 'FontAwesome';
  text-indent: -9999px;
  font-weight: 900;
}

.menu::before{
  text-indent: 1px;
  font-size: 20px;
  content: '\f0c9';
  float: right;
}
.icons {
  width: 30%;
  padding: 40px 0;
  text-align: right;
}

.icons .icon { padding-right: 5%;}

.icon a{
  color: #737e85;
  font-family: 'FontAwesome';
  font-size: 0px;
  font-weight: 900;
}

.twitter a::before{
  font-size: 28px;
  content: '\f081';
}

.youtube a::before{
  font-size: 28px;
  content: '\f167';
}

.wifi a::before{
  font-size: 28px;
  content: '\f1eb';
}

.facebook a::before{
  font-size: 28px;
  content: '\f09a';
}

.gmail a::before{
  font-size: 28px;
  content: '\f0d4';
}

.icon a:hover { color: #bc542e;}





/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*carousel start */
.carousel { position: relative;}

.carousel-info {
  width: 60%;
  padding: 21px 0;
  position: absolute;
  left: 20%;
  bottom:0;
  background-color: #bc542e;
}

.carousel-title {
  width: 60%;
  padding: 0 20%;
  position:relative;
  text-transform: uppercase;
  text-align: center;
}

.control {
  border: none;
  position: absolute;
  background-color: transparent;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
}

.previous { 
  top: 20%;
  left: 5%;
}

.next { 
  top: 20%;
  right: 5%;
}

.control:hover { color: #404952;}

.title {
  color: #fff;
  font-size: 32px;
  font-weight: 900;
}

/*carousel end */

/*focus start */

.focus { padding: 90px 0 83px 0;}

.focus-title { 
  color: #404f59;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.goals {
  padding-top: 50px ;
  display: flex;
  justify-content: center;
}

.goal {
  width: 21%;
  padding: 0 5%;
  text-align: center;
}

.goal:nth-last-child(1) { padding-right: 0;}

.goal-title {
  width: 50%;
  padding: 0 20% 35px  20% ;
  color: #404f59;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
}

.description {
  padding-bottom: 25px;
  color: #b4b7be;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.4;
}

.read {
  border: 1px solid #b7bdc1;
  color: #454d59;
  font-weight: 700;
  text-transform: capitalize;

}

.read:hover {
  background-color: #454d59;
  color: #fff;
}

.goal .icon {
  width: 24%;
  display: block;
  padding: 20px 5% ;
  margin-bottom: 20px;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 30%;
  background-color: #da6226;
  color: #fff;
  text-indent: -9999px;
  font-family: 'FontAwesome';
  font-size: 24px;
  font-weight: 900;
}

.money::before {
  position: absolute;
  top: 20px;
  right:30%;
  text-indent: 1px;
  float: right;
  content: '\f81d';
}

.emap::before {
  position: absolute;
  top: 20px;
  right:30%;
  text-indent: 1px;
  float: right;
  content: '\f555';
}

.graph::before {
  position: absolute;
  top: 20px;
  right:30%;
  text-indent: 1px;
  float: right;
  content: '\f201';
}

.earth::before {
  position: absolute;
  top: 20px;
  right:30%;
  text-indent: 1px;
  float: right;
  content: '\f0ac';
}
/*focus ends*/

/*advice start*/

.advice {
  padding: 90px 0 60px 0;
  background-color: #e9edf1;
}

.advice-title {
  color: #404b52;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.advice-description {
  padding:33px 0 53px 0;
  color: #404b52;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.cards { display: flex;}

.card { 
  padding: 10px 1% 40px 1%;
  background-color: #fff;
  text-align: center;
}

.card:nth-child(2) { margin: 0 3%;}

.card-title {
  padding: 45px 0 15px 0;
  color: #bc542e;
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
}

.card-info {
  padding-bottom: 40px;
  color: #b4b7be;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.card a { text-indent: -9999px;}

.card a::before {
  color: #404952;
  font-size: 20px;
  font-family: 'FontAwesome';
  font-weight: 900;
  text-indent: 1px;
  float: right;
  content: '\f0a9';
}

.card a:hover::before {color: #da6226;}

/*advice end */

/*more info start*/
.more-information { display: flex;}

.solutions {
  width: 50%;
  padding: 50px 8% 40px 2% ;
  background-color: #da6226;
}

.learning {
  width: 50%;
  padding: 50px 5% 40px 5% ;
  background-color: #404952;
}

.learning-list .solution,.learning-info{ color:#929ca3;}

.solutions-title,.learning-title {
  padding-bottom: 35px;
  color: #fff;
  font-size: 36px;
  font-size: 900;
  text-transform: capitalize;
}

.solution {
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.4;
}

.solution::before {
  padding-right: 10px;
  font-family: 'FontAwesome';
  font-size: 16px;
  font-weight: 900;
  content: '\f013';
}

.learning-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.learn {
  padding: 18px 3%;
  margin-top:20px ;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 700;
}

.solutions .learn:hover {
  background-color: #fff;
  color: #da6226;
}

.learning .learn:hover {
  background-color: #fff;
  color: #404952;
}

.brands { position: relative;}

.brand-control {
  border: none;
  position: absolute;
  background: transparent;
  color: #fff;
  font-size: 20px;
}

.brand-control:hover { color: #000;}

.prev {
  top: 50%;
  left: 0;
}

.nxt {
  top: 50%;
  right: 0;
}

/*more info end here*/

/*contact start*/

form { display: flex;}

.contact {
  padding: 80px 2% 50px 2%;
  display: flex;
  background-color: #cdcdcd;
}

.contact-title {
  padding-bottom: 40px;
  color: #fff;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 1px #000;
}

.personal-details { 
  width: 30%;
  display: inline-block;
}

.detail {
  width: 100%;
  margin-bottom: 18px;
}

input {
  width: 100%;
  padding: 12px 2%;
  border:2px solid #fff;
  background-color: #000;
  opacity: 0.3;
}

.error { display: none;}

.message {
  width: 65%;
  padding-left: 5%;
  display: inline-block;
}

textarea {
  width: 100%;
  padding: 10px 2%;
  border: 1px solid #fff;
  background-color: #000;
  opacity: 0.3;
}

.submit {
  width: 15%;
  margin-top: 10px;
  margin-left: 89%;
}

input[type=submit]{
  padding: 15px 2%;
  border: none;
  background-color: #bc542e;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
}

input[type=submit]:hover {
  background-color: #fff;
  color: #bc542e;
}

/*contact end here*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

footer { background-color: #515a63;}

.upper-footer { background-color: #525d65;}

.locate {
  padding: 20px 0 150px 0;
  display: flex;
}

.contact-links {  
  padding: 102px 0;
  display: flex;
  align-items: center;
}

.contact-link {
  width: 40%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  /* text-align: center; */
}

/* .contact-link a{
  font-size: 21px;
} */



.contact-icons {
  width: 20%;
  padding: 40px;;
  border: 10px solid #737e85;
  border-radius: 50%;
  position: relative;
  background-color: #da6226;
  font-family: 'FontAwesome';
  font-weight: 900;
  font-size: 0;
}

.connect-icon:nth-last-child(1) { margin-bottom: 30px;}

.map::before{ 
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 30px;
  float: right;
  content: '\f3c5';
}

.email::before{ 
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 30px;
  float: right;
  content: '\f0e0';
}

.phone::before{ 
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 30px;
  float: right;
  content: '\f095';
}

.us-no { display: inline-block;}

.us-no span{ 
  display: block;
  font-size: 20px;
}

.contact-links a:nth-child(2) {margin: 0 10%;}

.contact-link a { color: #fff;}

.get-connect {
  width: 40%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
}

.copyright {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.copyright span {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.contact-icons .icon {
  color: #bc542e;
  font-family: 'FontAwesome';
  font-size: 20px;
  text-indent: -9999px;
  font-weight: 900;
}

.connect-icon {
  padding-top: 20px;
  margin-right:5% ;
  color: #bc542e;
  font-family: 'FontAwesome';
  font-size: 24px;
  font-weight: 900;
  text-indent: -9999px;
}

.connect-icon:hover::before { color: #fff;}

.t::before{
  text-indent: 1px;
  float: right;
  content: '\54';
}

.tweet::before{
  text-indent: 1px;
  float: right;
  content: '\f081';
}

.yt::before {
  text-indent: 1px;
  float: right;
  content: '\f167';
}

.wi::before{
  text-indent: 1px;
  float: right;
  content: '\f1eb';
}

.fb::before{
  text-indent: 1px;
  float: right;
  content: '\f09a';
}

.g::before{
  text-indent: 1px;
  float: right;
  content: '\f0d5';
}

.gmap {
  width: 40%;
  padding:0 ;
  display: inline-block;
  object-fit: contain;
  overflow: hidden;
}



 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  .navigation { display: none;}

  .icons { display: none;}

  .logo { padding-right: 80%;}
  .menu { display: inline-block;}


}  